/* Colors Theme */

$white: #ffffff;
$grey: hsl(0, 0%, 90%);
$black: #292929;

$bg-dark: #001738;
$fg-dark: #b7c0d1;

$bg-light: #f6f9ff;
$fg-light: #607492;

$shadow: $grey;

$color-info: mediumseagreen;
$color-error: tomato;
