/* Colors Theme */

$white: grey(0);
$grey: grey(7);
$black: grey(9);

$bg-dark: primary(9);
$fg-dark: primary(3);

$bg-light: primary(0);
$fg-light: primary(5);

$shadow: $grey;

$color-info: mediumseagreen;
$color-error: tomato;
