// Fonts

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SourceSansPro-regular.ttf")
}


@font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/TenorSans-regular.ttf")
}

    
