/* Generic Tag Styling */

a
{
  text-decoration: none;
  font-stretch: condensed;
  transition: 0.2s all ease;
  color: $fg-light;

  &:hover:not(.selected) { 
    text-decoration: none;
    cursor: pointer;
  }
}


p {
  line-height: 1.4em;
  vertical-align: baseline;
  margin: 1.4rem 0;
}

nav
{
  float: right;
  display: inline-block;
  line-height: 1.5em;
  text-align: right;

  a {
    display: inline-block;
    margin: 0.2rem 0 0 1.6em;
    border-bottom: solid 0.2rem transparent;

    &:hover, &.selected { color: $fg-dark; }
    &.selected { border-bottom-color: $fg-dark; }
  }
}

h2
{
  margin: 2rem 0;
  font-size: 1.4em;
  text-align: center;
  font-family: "Roboto Slab";
  font-family: "Tenor Sans";
  position: relative;
  font-weight: bold;
  color: $bg-dark;

  &:first-child {
    margin-top: 1.4rem
  }
}

h3
{
  margin: 1.2em;
  font-size: 1.05em;
  font-weight: bold;

  text-align: center;
}

hr
{
  border: 0;
  height: 1px;
  margin : 1em;
  background-image: linear-gradient(to right, transparent, $grey, transparent);
}


ul {
  margin: 1em;
  padding: 0;

  li {
    list-style-type: none;
    margin: 1em;

    &:before {
      content: "− ";
      position: absolute;
      margin-left: -1em;
    }
  }
}
