/* Footer Style */

body > footer
{
  background: $bg-dark;
  padding: 0 1%;
  overflow: hidden;

  text-align: center;
  white-space: nowrap;

  .Icon {
    display: inline-block;
    margin: 0.6em 1vh;

    @media screen and (min-width: 46em) {
      margin: 0.6em 2vh;
    }

    svg {
      height: 1.8em;
      max-width: 9vw;

      fill: $fg-dark;
      transition: fill 0.2s ease
    }

    &:hover svg {
      fill: $white;
    }
  }
}

